:root {
	--colors__base: #000000;
	--colors__white: #ffffff;
	--colors__dark-gray: #808080;
	--colors__text: #212122;
	--colors__primary: #cf998f;
	--colors__secondary: #ded7cb;
	--colors__border: #dbb5ae;
	--font__corm: 'Cormorant Garamond';

	--hue: 223;
	--bg: hsl(var(--hue), 10%, 90%);
	--fg: hsl(var(--hue), 10%, 10%);
	--primary: hsl(var(--hue), 90%, 55%);
	--trans-dur: 0.3s;
}
